<form class="row g-3">
    <div class="col-md-6">
      <label for="nombre_y_apellidos" class="form-label">Nombre y Apellidos</label>
      <input type="text" class="form-control" id="name_lastNameInput">
    </div>
    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail">
    </div>
    <div class="col-12">
      <label for="Dirección" class="form-label">Dirección</label>
      <input type="text" class="form-control" id="Dirección" >
    </div>
    <div class="col-md-6">
      <label for="Ciudad" class="form-label">Ciudad</label>
      <input type="text" class="form-control" id="Ciudad">
    </div>
    <div class="col-md-2">
      <label for="codigo_postal" class="form-label">Código postal</label>
      <input type="text" class="form-control" id="codigo_postal">
    </div>
    <div class="col-12 button">
      <button type="submit" class="btn btn-primary">Contácta!</button>
    </div>
  </form>