#precioOriginal {
    text-decoration: line-through;
    color: grey;
}

#precioOferta {
    color: red;
    font-size: 30px;
}

.container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}